@font-face {
   font-family: 'Montserrat-Bold';
   src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
   font-family: 'Montserrat-Regular';
   src: url('./assets/fonts/Montserrat-Regular.ttf');
}

* {
   padding: 0px;
   margin: 0px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.form {
   background-image: url('/assets/images/подложка.svg');
   background-position: top;
   width: 100%;
   
}

.form__wrapper {
   padding-bottom: 89px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.form__contain {
   background: #FBF7F6;

   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
   border-radius: 15px;

   display: flex;

   margin-top: 120px;
}

.form__description {
   padding: 31px 32px 40px 40px;
}

.f-description__title {
   width: 324px;

   font-family: 'Montserrat-Bold';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.04em;

   color: #371030;

   margin-bottom: 17px;

}

.name__number {
   display: flex;
   justify-content: space-between;

   margin-bottom: 21px;
}

.form__bg {
   height: 351px;
}

.bg {
   border-radius: 0px 15px 15px 0px;
}


input {
   border: none;
   border-bottom: 1px solid #371030;
   background-color: #FBF7F6;

   padding-bottom: 10px;

   outline: none;

   font-family: 'Montserrat-Regular';

   color: #371030;
}



input::placeholder {
   font-family: 'Montserrat-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   letter-spacing: 0.04em;

   color: #371030;
}

.name {
   margin-right: 36px;
}

.email__input {
   width: 100%;

   margin-bottom: 20.5px;
}

.comments {
   margin-bottom: 23px;
}

.comments__input {
   width: 100%;
}

.form__btn {
   font-family: 'Montserrat-Regular';
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.04em;

   padding: 17px 0px 14px;

   color: #9A3C48;

   background: #FFB0BA;

   width: 100%;

   border: none;
  
   border-radius: 100px;
}

.form__btn:hover {
   box-shadow: 3px 3px 0px 3px #DE8E98;
}

.linkform2 {
   margin-top: 25px;

   display: flex;
   justify-content: center;
}

a {
   font-family: 'Montserrat-Regular';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   letter-spacing: 0.04em;

   color: #371030;

   text-decoration: none;

}

a:hover {
   font-size: 20px;

   color: #9e5d92;
}









